
.header {
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.79);
  backdrop-filter: blur(8px);
  display: grid;
  grid-auto-flow: column;
  top: 0;
  position:fixed;
  width: 100%;
  z-index:10;
}
.header-logo img {
  width: 200px;
  margin-left: 7rem;
}
.header-logo a {
  text-decoration: none;
}

.header-navigation-bar ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.header-navigation-bar {
  display: grid;
  align-items: center;
}
.header-navigation-bar a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
